html {
    background-color: rgb(236, 248, 236);
    font-size: 24px;
  }
  
p {
    font-family: 'Playfair Display', sans-serif;
    color: rgb(120, 130, 212);
  }

  h1 {
  font-family: 'Nunito-sans', sans-serif;
    color: yellow;
  }

  


