html {
    background-color: rgb(236, 248, 236);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }


  
  body {
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
    background-color: rgb(200, 220, 200);
  }

      h1 {
 font-size: 40px;
    color: #00539f;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }

p, li {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 4;
  color: rgb(120, 130, 212);
  }

img {
  display: block;
  margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  ul {
    color: green;
  }
  
  .done {
    text-decoration: line-through solid black 2px;
    color: darkseagreen;
  }


